---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Math Journal">
  <h1>Math Journal</h1>
  <p class="lead">Fast MDX + KaTeX + Mermaid site. Start here.</p>

  <h2>Sections</h2>
  <ul>
    <li><a href="/modules/sample">Sample Module</a></li>
    <li><a href="/weeknotes/week-1">Weeknote #1</a></li>
  </ul>
</BaseLayout>


